body {
  padding: 0;
  margin: 0;
  font-family: arial, "helvetica";
  background-color: #04b486;
}

.cont {
  display: block;
  width: 330px;
  min-height: 470px;
  padding: 30px 20px 10px 20px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  border: solid 1px;
  box-shadow: 0px 8px 15px grey;
}
.cont input {
  border: none;
  border-bottom: 2px solid #378cc0;
  background: none;
  color: darkgreen;
  float: right;
  margin-right: 5px;
  font-size: 13px;
  margin-top: -60px;
}

.button-input[type="submit"] {
  border: none;
  background: #04b486;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  float: right;
  margin-top: -8px;
  display: block;
  margin-right: 13px;
}
.button-input[type="reset"] {
  border: none;
  background: #04b486;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  float: right;
  margin-top: 10px;
  display: block;
  margin-right: 10px;
}
.texte {
  margin-top: 0;
  display: block;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 40px;
}
.text-area {
  margin-top: 50px;
}
.title {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
  border: 1px solid #04b486;
  border-radius: 10px;
  padding: 10px;
}
